h1 {color: blue;}
#total{
    width: 960px;
    height: auto;
    margin: auto; /*centraliza a divisão na página*/
}
#cabecalho{
    width: 960px;
    height: 100px;
    background-color: rgb(255, 255, 255);
} 

#logotipo {
    float: left;
} 
#menu {
    float: right;
    margin-top: 27px;
} 
#menu a{
    color: brown;
    text-decoration: none;
} 
#menu a:hover{
   
    text-decoration: underline;
} 
#conteudo{
    width: 960px;
    height: 400px;
    float: left;
    background-color: aqua;
}
#rodape{ width: 960px;
    height: auto;
    float: left;
    background-color: rgb(253, 251, 255);
    text-align: center;
    font-size: 18;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    border-color: blue;


}
#conteudoquemsomos1{width: 600px; height: 400px; float: left; background-color: black;}

#conteudoquemsomos2{width: 360px; height: 200px; float: right; background-color: brown;}

#conteudoquemsomos2{width: 360px; height: 200px; float: right; background-color: rgb(223, 150, 150);}


